body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: black;
}

#gameBoard {
  background-color: rgb(21, 147, 215);
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

#gameBoard > *:hover {
  border: 1px solid black;
}

.swords:hover {
  border: 1px solid blue;
}

.sideBar {
  margin-left: 5%;
  margin-top: 10px;
  display: flex;
  background-color: rgb(204, 204, 204);
  width: 20vmin;
  /* height: 30vmin; */
  padding: 1%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.toolBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.cont {
  /* margin-left: 50px;
  display: flex;
  background-color: rgb(204, 204, 204);
  width: 20vmin;
  height: 30vmin;
  padding: 1%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px; */
}

.axe {
  background: url("/assets/img/icons8-minecraft-axe-100.png") no-repeat;
}

.pickaxe {
  background: url("/assets/img/icons8-minecraft-pickaxe-100.png") no-repeat;
}

.shovel {
  background: url("/assets/img/icons8-minecraft-shovel-100.png") no-repeat;
}

.swords {
  background-size: 100%;
  width: 5vmin;
  height: 5vmin;
  border: 1px black solid;
}

.materialBox {
  width: 5vmin;
  height: 5vmin;
  border: 1px black solid;
  position: relative;
}

.materialBox span {
  background-color: white;
  border-right: 1px solid black;
  border-top: 1px solid black;
  font-size: 2vmin;
  padding: 0.2vmin;
  position: absolute;
  bottom: 0;
  left: 0;
}

.selected-tool {
  background-color: green;
}

.invalid {
  background-color: red;
}

.tree {
  background: url("/assets/img/css_sprites.png") -110px -110px no-repeat;
}

.leaves {
  background: url("/assets/img/css_sprites.png") -210px -10px no-repeat;
}

.rock {
  background: url("/assets/img/css_sprites.png") -10px -110px no-repeat;
}

.ground {
  background: url("/assets/img/css_sprites.png") -110px -10px no-repeat;
}

.grass {
  background: url("/assets/img/css_sprites.png") -10px -10px no-repeat;
}
.cloud {
  background-color: rgb(255, 255, 255);
}
