body {
  display: block;
  margin: 0 auto;
  align-items: center;
}
.cont {
  justify-content: center;
  flex-direction: column;
}

.sideBar,
.toolBox {
  flex-direction: row;
  width: auto;
  height: auto;
  margin-right: 5%;
}

.toolBox > *,
.sideBar > * {
  width: 10vmin;
  height: 10vmin;
}

.materialBox span {
  font-size: 4vmin;
  padding: 0.2vmin;
}

.materialBox {
  width: 10vmin;
  height: 10vmin;
}
.materialBar {
  width: auto;
  display: flex;
}

.visibility-hidden {
  visibility: hidden;
}

.container {
  display: block;
}
